<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive web disign -->
		<link rel="stylesheet" type="text/css" href="style.css">
    	<title>Artainmo Judo</title>
	<link rel="icon" href="favicon.png" type="image/png">
	</head>
	<body>
		<h1>Artainmo Judo @ La Chenaie</h1>
    <div>{{ content }}</div>
	<br><br><br>
    <footer>
      <p>© 2024 website from <a href="https://github.com/artainmo">github artainmo</a></p>
    </footer>
	</body>
</html>
